{% extends "diploma_app/base.html" %}

{% load i18n %}


{% block head_title %}CREATE{% endblock %}

{% block content %}

Akceptacja

    <form method="post" enctype="multipart/form-data" > 
    {% csrf_token %}
        Nazwa użytkownika studenta
        <input type="text" name="username"> 
        {% comment %} Tytuł paracy
        <input type="text" name="paper_title"> {% endcomment %}
        czy akceptujesz - tak/nie
        <input type="text" name="accept_text">
        <input type="submit" value="ok"> 
    </form> 

{% endblock %}


